
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


header{
    background-color: blue;
    height: 10vh;
}

main{
    background-color: cyan;
    height: 80vh;
}

.panelImagen{
    position: absolute;
    display:flex;
    justify-content: right;
    left: 0vw; /* mueve de izq a derecha*/
    background-image:url(src/img/maniqui2.jpg) ;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    margin-left:55px;
    margin-top:20px;
}
#nota{
    display:block;
    font-size: 12px;
    margin-left: 5px;
    
}

.panelLateral{
    position: absolute;
    right: 0vw;
    background-color: darkgray;
    width: 50vw;
    height: inherit;
}

.contenedor_lateral_01{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 15%;
    background-color: lightseagreen;
    top: 3%;
    font-size: 10px;
}
#onchange{
    font-size: smaller;
}
#showhide{
    font-size: smaller;
}

.contenedor_lateral_02{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 60%;
    background-color: lightseagreen;
    top: 20%;
    font-size: 12px;
}

.x{
    display: inline;
    margin: 0 5px;
}
.y{
    display: inline;
    margin: 0 5px;
}
#xi,#xf,#yi,#yf{
    font-size: smaller;

}
#aceptar{
    font-size: smaller;
    margin: 0 5px;
}



.contenedor_lateral_03{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 15%;
    background-color: lightseagreen;
    top: 82%;
}

footer{
    background-color: blueviolet;
    height: 10vh;
}



.inputPreview {
    margin: left 0px; ;
} 



img {
    margin-right: 199px;
    height: 300px;
    width: 300px;
}