/*Esta es la plantilla de buenas pràcticas*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 1rem = 10px */
html{
    font-size: 62.5%;
}

/*buenas pràcticas: hacer multi dispositivo
modificar font-size de html al aplicar
media queries (breakpoints), solo utilizar 
una web font, declarar variables en root:{}. */

header{
    background-color: blue;
    height: 10vh;
}

main{
    background-color: cyan;
    height: 80vh;
}

.panelImagen{
    position: absolute;
    left: 0vw; /* mueve de izq a derecha*/
    background-image:url(src/img/imagenPrueba.jpg) ;
    width: 70vw;
    height: inherit;

}

.panelLateral{
    position: absolute;
    right: 0vw;
    background-color: darkgray;
    width: 30vw;
    height: inherit;
}

.contenedor_lateral_01{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 10%;
}

.contenedor_lateral_02{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 40%;
}

.contenedor_lateral_03{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 70%;
}

footer{
    background-color: blueviolet;
    height: 10vh;
}

img{

    height: 300px;
    width: 300px;
}