*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 1rem = 10px */
html{
    font-size: 62.5%;
}

/*buenas pràcticas: hacer multi dispositivo
modificar font-size de html al aplicar
media queries (breakpoints), solo utilizar 
una web font, declarar variables en root:{}. */

header{
    background-color: blue;
    height: 10vh;
    font-size: xx-large;
    font-weight: bolder;
}

main{
    background-color: cyan;
    height: 80vh;
}

.panelImagen{
    position: absolute;
    left: 0vw; /* mueve de izq a derecha*/
    width: 70vw;
    height: inherit;

}

.panelLateral{
    position: absolute;
    right: 0vw;
    background-color: darkgray;
    width: 30vw;
    height: inherit;
    border: .1rem solid darkslategray;
}

.contenedor_lateral_01{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 10%;
    border: .1rem solid rgb(4, 252, 252);
    border-radius: .4rem;
}

.contenedor_lateral_02{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 40%;
    border: .1rem solid rgb(4, 252, 252);
    border-radius: .4rem;
}

.contenedor_lateral_03{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 20%;
    background-color: lightseagreen;
    top: 70%;
    border: .1rem solid rgb(4, 252, 252);
    border-radius: .4rem;
}

footer{
    background-color: blueviolet;
    height: 10vh;
}

img{

    height: 100%;
    width: 100%;
}